<form #pform="ngForm" ngNativeValidate (ngSubmit)="adminlogin(adminform)">
  <div class="admin-container">
    <p>Admin Login</p>
    <hr>
    <div class="admin-fields">
      <table>

        <tr>
          <td>Email Id :</td>
          <td> <input type="text" [(ngModel)]="admin.email" name="adminname" placeholder="Email Id" required>
            <br /></td>
        </tr>

        <tr>
          <td> Password : </td>
          <td><input type="password" [(ngModel)]="admin.password" name="password" placeholder="Password" required><br />
          </td>
        </tr>
      </table>
      <button type="submit" value="Submit">Sign In</button>


    </div>
  </div>
</form>

<div>
  <router-outlet></router-outlet>
</div>