<h2> What is Motor Insurance?</h2>
<p>
    Motor insurance (also known as auto insurance, or vehicle insurance), is an insurance policy purchased for private
    or commercial vehicles to provide financial shield against any loss or damage. Vehicles like cars, trucks,
    motorcycles, scooters, tractors and other road vehicles can be covered under the motor insurance policy.

    How does motor insurance help the owner of the vehicle?
    The primary objective of motor insurance policy is to provide:
    Financial aid to the owner of the vehicle in case of unfortunate events. Basically, it provides financial shield
    against any damage incurred to the insured vehicle due to natural or man-made perils.
    Liability cover, which could arise due to the damages incurred to the third party property, vehicle due to the
    collision or accident.Liability cover against the bodily injury or accidental death of pedestrians, passengers of
    the other vehicle, etc.
    Theft of the insured vehicle.
</p>

   